{% extends "index.html" %}
{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="text-shadow: 0px 0px 210px #000000;">Learn Python the easy way...</h1>
                <hr>
                <p style="    text-shadow: 0px 0px 20px #000000; color: white;">Learn how to write a API, backend scripts, build websites and web-apps from scratch using Python</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">View Curriculum</a>
            </div>
        </div>
    </header>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Python is a great object-oriented, interpreted, and interactive programming language. It is often compared (favorably of course :-) ) to Lisp, Tcl, Perl, Ruby, C#, Visual Basic, Visual Fox Pro, Scheme or Java... and it's much more fun.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>


{#{% block content %}{% endblock %}#}




    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keep track of all your favorite </h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Gift Cards</h3>
                        <p class="text-muted">Send friends and family an Gift Card from your device or computer.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Family Sharing</h3>
                        <p class="text-muted">Family Sharing makes it easy for up to six people in your family. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Daily News</h3>
                        <p class="text-muted"> Information about the Python conference scene</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Today's Best</h3>
                        <p class="text-muted">Maintenance releases for the 3.6 series will follow at regular intervals starting in the first quarter of 2017.</p>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Rock
                                </div>
                                <div class="project-name">
                                    Supernatural
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Jazz
                                </div>
                                <div class="project-name">
                                    Three Days Grace
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Metal
                                </div>
                                <div class="project-name">
                                    I Am Taste God
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Rock And Roll
                                </div>
                                <div class="project-name">
                                    The Hammer
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blues
                                </div>
                                <div class="project-name">
                                    Blue Ocan
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Pop
                                </div>
                                <div class="project-name">
                                    Music at SxSW
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Get Free Updated about Python !</h2>
                <a href="/" class="btn btn-default btn-xl sr-button">Subscribe Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Setup Project. <br>Name Name</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">me@email.com</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}